body {
    background-color: #f8f8fa !important;
    margin: 0px;
}
.float_left {
    float: left;
}

.header {
    height: 42px;
    background-color: #23a9f6;
    border-bottom: 1px solid #e1e6f0;
}
.header ul {
    list-style-type: none;
    width: 830px;
    margin: auto;
}
.header ul li {
    color: #f8f8fa;
    float: left;
    line-height: 42px;
    margin-right: 30px;
}
.header ul li .icon_photo{
    background-image: url(../img/icon_photo.jpg);
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 12px;
}
.header ul li p {
    margin: 0px;
    padding-left: 21px;
}

.content {
    width: 1250px;
    margin: 40px auto;
    overflow: auto;
}

.content_left {
    width: 598px;
    margin-right: 30px;
    height: 600px;
    border: 1px solid #000;
}
.content_center {
    width: 293px;
    margin-right: 30px;
    height: 600px;
    border: 1px solid #000;
}
.content_right {
    width: 293px;
    height: 600px;
    border: 1px solid #000;
}

.footer {
    height: 100px;
    border: 1px solid #000;
}